h1 {
        background-color: rgba(65, 65, 65, 0.781);
        color: rgb(175, 0, 0);
        
    }   
    .color_fundo_a{
background-color: rgb(0, 0, 0);

color: rgb(255, 255, 255);

}
.color_fundo_b{
background-color: rgb(0, 0, 0);
 color: rgb(255, 255, 255);
}
.Imagem{
    background-color: rgba(65, 65, 65, 0.781)
}